In [1]:
!pip install scikit-surprise

Collecting scikit-surprise
  Using cached scikit_surprise-1.1.4.tar.gz (154 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: joblib>=1.2.0 in c:\users\playdata\ml\ml_venv\lib\site-packages (from scikit-surprise) (1.5.3)
Requirement already satisfied: numpy>=1.19.5 in c:\users\playdata\ml\ml_venv\lib\site-packages (from scikit-surprise) (2.3.5)
Requirement already satisfied: scipy>=1.6.0 in c:\users\playdata\ml\ml_venv\lib\site-packages (from scikit-surprise) (1.16.3)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (pyproject.toml): started
  Building wheel for scikit-surprise (pyproject.toml): finished with status 'done'
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.4-cp312-cp312-win_amd64.whl size=1320046 sha256=03f5a55952a8ab6ce113e7803c6b4b5c9b19771666ac7ec6897dd2703cae0158
  Stored in directory: c:\users\playdata\appdata\local\pip\cache\wheels\75\fa\bc\739bc2cb1fbaab6061854e6cfbb81a0ae52c92a502a7fa454b
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.4

In [2]:
pip list

Package                 Version
----------------------- ---------------
alembic                 1.17.2
asttokens               3.0.1
beautifulsoup4          4.14.3
black                   25.12.0
bleach                  6.3.0
certifi                 2025.11.12
charset-normalizer      3.4.4
click                   8.3.1
colorama                0.4.6
colorlog                6.10.1
comm                    0.2.3
contourpy               1.3.3
cycler                  0.12.1
debugpy                 1.8.19
decorator               5.2.1
et_xmlfile              2.0.0
executing               2.2.1
fonttools               4.61.1
graphviz                0.21
greenlet                3.3.0
idna                    3.11
imbalanced-learn        0.14.1
imblearn                0.0
ipykernel               7.1.0
ipython                 9.8.0
ipython_pygments_lexers 1.1.1
jedi                    0.19.2
joblib                  1.5.3
jupyter_client          8.7.0
jupyter_core            5.9.1
kaggle                  1.8.3
kagglehub               0.3.13
kagglesdk               0.1.14
kiwisolver              1.4.9
librt                   0.7.5
lightgbm                4.6.0
Mako                    1.3.10
MarkupSafe              3.0.3
matplotlib              3.10.8
matplotlib-inline       0.2.1
mypy                    1.19.1
mypy_extensions         1.1.0
nest-asyncio            1.6.0
numpy                   2.3.5
openpyxl                3.1.5
optuna                  4.6.0
packaging               25.0
pandas                  2.3.3
parso                   0.8.5
pathspec                0.12.1
patsy                   1.0.2
pillow                  12.0.0
pip                     25.3
platformdirs            4.5.1
prompt_toolkit          3.0.52
protobuf                6.33.2
psutil                  7.1.3
pure_eval               0.2.3
Pygments                2.19.2
pyparsing               3.2.5
python-dateutil         2.9.0.post0
python-slugify          8.0.4
pytokens                0.3.0
pytz                    2025.2
PyYAML                  6.0.3
pyzmq                   27.1.0
requests                2.32.5
scikit-learn            1.8.0
scikit-surprise         1.1.4
scipy                   1.16.3
seaborn                 0.13.2
six                     1.17.0
sklearn-compat          0.1.5
soupsieve               2.8.1
SQLAlchemy              2.0.45
stack-data              0.6.3
statsmodels             0.14.6
text-unidecode          1.3
threadpoolctl           3.6.0
tornado                 6.5.4
tqdm                    4.67.1
traitlets               5.14.3
types-requests          2.32.4.20250913
types-tqdm              4.67.0.20250809
typing_extensions       4.15.0
tzdata                  2025.3
urllib3                 2.6.2
wcwidth                 0.2.14
webencodings            0.5.1
xgboost                 3.1.2
xlrd                    2.0.2
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# !pip uninstall -y numpy scikit-surprise
# !pip install "numpy<2"
# !pip install scikit-surprise

Collecting scikit-surprise
  Using cached scikit_surprise-1.1.4-cp312-cp312-win_amd64.whl
Requirement already satisfied: joblib>=1.2.0 in c:\users\playdata\ml\ml_venv\lib\site-packages (from scikit-surprise) (1.5.3)
Requirement already satisfied: numpy>=1.19.5 in c:\users\playdata\ml\ml_venv\lib\site-packages (from scikit-surprise) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\playdata\ml\ml_venv\lib\site-packages (from scikit-surprise) (1.16.3)
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.4

In [1]:
from surprise import (SVD,      # 행렬 분해에 사용할 모델
                      Dataset,  # Surprise에서 데이터셋 생성
                      Reader,   # 평점 데이터 형식 정의
                      accuracy  # 평가 지표
                      )
from surprise.model_selection import train_test_split
from surprise.dataset import DatasetAutoFolds         # 외부 파일 업로드
import pandas as pd

In [2]:
df = pd.read_csv('./data/ratings.csv')
df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [3]:
df.to_csv('ratings_nohead.csv',index=False,header=False)

In [4]:
df['rating'].unique() # 평점의 고유값

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [5]:
reader = Reader(line_format='user item rating', sep=',', rating_scale=(0.5,5))

data_folds = DatasetAutoFolds(ratings_file = 'ratings_nohead.csv', reader=reader) # 원본

SVD 모델은 사용자- 아이템 - 평점 행렬을 가지고와서 잘게 분해해서 그안에 숨겨진 취향을 찾아서 추런해주는 모델

실제 데이터를 보면
|사용자|영화A|영화B|영화C|...|
|-------|----|----|-|----|
|유저1|4.0|null|3.0|...|
|유저101|3.5|4.0|null|...|
...

사용자 - 아이템 행렬
  - => 사용자 잠재요인 x 아이템 잠재요인
사용자별로 액션 좋아함 or 액션 성향 or 감성 좋아함 or 로맨스 싫어함 or 평점 주는것을 좋아함

In [6]:
# 데이터 쪼개기
trainset = data_folds.build_full_trainset()
model = SVD(n_factors=50, random_state=0)
model.fit(trainset)

In [ ]:
# def solution(n, k):
#     return [i for i in range(k,n+1,k)]
# solution(10,3)

[3, 6, 9]

In [7]:
model.predict('1','1')  # 사용자 '1'이 영화 '1'에게 줄 평점 예측

Prediction(uid='1', iid='1', r_ui=None, est=4.461996428412112, details={'was_impossible': False})

In [8]:
df[df['userId']==9]

      userId  movieId  rating   timestamp
1073       9       41     3.0  1044656650
1074       9      187     3.0  1044657119
1075       9      223     4.0  1044656650
1076       9      371     3.0  1044656716
1077       9      627     3.0  1044657102
1078       9      922     4.0  1044657026
1079       9      923     5.0  1044657026
1080       9     1037     2.0  1044656650
1081       9     1095     4.0  1044657088
1082       9     1198     5.0  1044656716
1083       9     1270     5.0  1044657088
1084       9     1674     4.0  1044656650
1085       9     1987     2.0  1044656716
1086       9     2011     3.0  1044657200
1087       9     2012     4.0  1044657237
1088       9     2023     3.0  1044656650
1089       9     2300     5.0  1044657072
1090       9     2877     3.0  1044657221
1091       9     2901     2.0  1044656716
1092       9     3173     2.0  1044656650
1093       9     3328     3.0  1044656650
1094       9     3735     3.0  1044657051
1095       9     4131     1.0  1044657221
1096       9     4558     1.0  1044656650
1097       9     4993     5.0  1044657051
1098       9     5218     4.0  1044656811
1099       9     5378     3.0  1044656811
1100       9     5445     4.0  1044656792
1101       9     5447     4.0  1044656836
1102       9     5451     4.0  1044656836
1103       9     5481     5.0  1044656836
1104       9     5507     1.0  1044656836
1105       9     5841     1.0  1044657318
1106       9     5843     3.0  1044657269
1107       9     5872     3.0  1044656962
1108       9     5890     4.0  1044656792
1109       9     5891     1.0  1044657318
1110       9     5893     4.0  1044657144
1111       9     5902     5.0  1044656934
1112       9     5952     5.0  1044656908
1113       9     5956     4.0  1044656962
1114       9     5962     1.0  1044657338
1115       9     5965     4.0  1044657185
1116       9     5988     2.0  1044657269
1117       9     6001     4.0  1044657072
1118       9     6044     2.0  1044657285

In [9]:
model.predict('9','41')  # 사용자 '9'이 영화 '41'에게 줄 평점 예측

Prediction(uid='9', iid='41', r_ui=None, est=3.3731093250759443, details={'was_impossible': False})

In [10]:
# 잠재요인 협업필터링 추천시스템을 함수로 만든다
# 유저에게 추천 -> 1) 유저가 안본 영화를 찾는다. 2) 안본 영화의 평점을 찾는다. 3) 정렬해서 보여준다
movies = pd.read_csv('./data/movies.csv')
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [12]:
# 유저가 안본 영화를 반환하는 함수
def get_unseen_surprise(reatings,movies,userId):
    seen_movies = df[df['userId']==userId]['movieId'].tolist()  # 유저가 본 영화 list
    total_movies = movies['movieId'].tolist()                   # 전체 영화 list

    unseen_movies = []                  # 안본 영화 리스트
    for movie in total_movies:          # 전체 영화 리스트를 순회
        if movie not in seen_movies:    # 본 영화가 아니면 
            unseen_movies.append(movie) # 안본 영화 리스트에 추가

    return unseen_movies

In [15]:
unseen_movies = get_unseen_surprise(df,movies,9)
len(unseen_movies)
unseen_movies

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 34,
 36,
 38,
 39,
 40,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 52,
 53,
 54,
 55,
 57,
 58,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 85,
 86,
 87,
 88,
 89,
 92,
 93,
 94,
 95,
 96,
 97,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 110,
 111,
 112,
 113,
 116,
 117,
 118,
 119,
 121,
 122,
 123,
 125,
 126,
 128,
 129,
 132,
 135,
 137,
 140,
 141,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 183,
 184,
 185,
 186,
 188,
 189,
 190,
 191,
 193,
 194,
 195,
 196,
 198,
 199,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 222,
 224,
 225,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 265,
 266,
 267,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 372,
 373,
 374,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 393,
 405,
 406,
 407,
 408,
 409,
 410,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 440,
 441,
 442,
 444,
 445,
 446,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 464,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 499,
 500,
 501,
 502,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 526,
 527,
 528,
 529,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 555,
 556,
 558,
 562,
 563,
 564,
 567,
 568,
 569,
 573,
 574,
 575,
 577,
 579,
 580,
 581,
 583,
 585,
 586,
 587,
 588,
 589,
 590,
 592,
 593,
 594,
 595,
 596,
 597,
 599,
 600,
 602,
 605,
 606,
 608,
 609,
 610,
 611,
 612,
 613,
 615,
 616,
 617,
 618,
 619,
 626,
 628,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 645,
 647,
 648,
 649,
 650,
 653,
 656,
 661,
 662,
 663,
 665,
 667,
 668,
 670,
 671,
 673,
 674,
 678,
 679,
 680,
 685,
 688,
 691,
 692,
 694,
 695,
 697,
 698,
 700,
 703,
 704,
 706,
 707,
 708,
 709,
 710,
 711,
 714,
 715,
 718,
 719,
 720,
 722,
 724,
 725,
 726,
 728,
 731,
 733,
 735,
 736,
 737,
 741,
 742,
 743,
 745,
 747,
 748,
 750,
 757,
 759,
 760,
 761,
 762,
 764,
 765,
 766,
 773,
 775,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 788,
 790,
 791,
 795,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 808,
 809,
 810,
 813,
 818,
 823,
 824,
 828,
 829,
 830,
 832,
 833,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 848,
 849,
 851,
 852,
 858,
 861,
 866,
 867,
 869,
 870,
 875,
 876,
 879,
 880,
 881,
 882,
 885,
 886,
 888,
 889,
 891,
 892,
 893,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 924,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 959,
 961,
 963,
 965,
 968,
 969,
 970,
 971,
 973,
 976,
 979,
 981,
 982,
 984,
 986,
 987,
 988,
 990,
 991,
 993,
 994,
 996,
 998,
 999,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1040,
 1041,
 1042,
 1043,
 1046,
 1047,
 1049,
 1050,
 1051,
 1053,
 1054,
 1055,
 1056,
 1057,
 1059,
 1060,
 1061,
 1064,
 1066,
 1068,
 1073,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1096,
 1097,
 1099,
 1100,
 1101,
 1103,
 1104,
 1105,
 1107,
 1111,
 1112,
 1114,
 1116,
 1117,
 1119,
 1120,
 1121,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 1135,
 1136,
 1137,
 1140,
 1144,
 1147,
 1148,
 1150,
 1151,
 1156,
 1161,
 1162,
 1163,
 1167,
 1170,
 1171,
 1172,
 1173,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1183,
 1184,
 1185,
 1186,
 1187,
 1188,
 1189,
 1190,
 1191,
 1192,
 1193,
 1194,
 1196,
 1197,
 1199,
 1200,
 1201,
 1202,
 1203,
 1204,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 1221,
 1222,
 1223,
 1224,
 1225,
 1226,
 1227,
 1228,
 1230,
 1231,
 1232,
 1233,
 1234,
 1235,
 1236,
 1237,
 1238,
 1240,
 1241,
 1242,
 1243,
 1244,
 1245,
 1246,
 1247,
 1248,
 1249,
 1250,
 1251,
 1252,
 1253,
 1254,
 1255,
 1256,
 1257,
 1258,
 1259,
 1260,
 1261,
 1262,
 1263,
 1264,
 1265,
 1266,
 1267,
 1268,
 1269,
 1271,
 1272,
 1273,
 1274,
 1275,
 1276,
 1277,
 1278,
 1279,
 1280,
 1281,
 1282,
 1283,
 1284,
 1285,
 1286,
 1287,
 1288,
 1289,
 1290,
 1291,
 1292,
 1293,
 1295,
 1296,
 1297,
 1298,
 1299,
 1300,
 1301,
 1302,
 1303,
 1304,
 1305,
 1306,
 1307,
 1310,
 1312,
 1318,
 1320,
 1321,
 ...]

In [27]:
# SVD 모델을 이용하여 특정 사용자가 아직 보지 않은 영화중에서 좋아할 학률이 가장 놓은 top-N개의 영화를 추천해주는 함수
def recommend_movie_by_surprise(model,userid,unseen_movies,top_n=5):
    pred_list = []
    for movieid in unseen_movies:
        pred = model.predict(str(userid),str(movieid))  # 결과는 Prediction(uid='9', iid='41', r_ui=None, est=3.3731093250759443, details={'was_impossible': False})
        pred_list.append(pred)

    def sort_key(pred):
        return pred.est # 예측 평점(est)

    pred_list.sort(key=sort_key,reverse=True)  # 예측 쳥점 기준으로 내림차순 정렬

    top_pred =pred_list[:top_n] # 상위 n개의 추천 결과

    result = []
    for temp in top_pred:
        dict_temp = {f"영화id:{temp.iid}, \
                     rating:{temp.est},\
                    영화명: {movies[movies['movieId'] == int(temp.iid)]['title']}"}
        result.append(dict_temp)

    return result

In [28]:
recommend_movie_by_surprise(model, 9, unseen_movies, top_n=10)
# unseen_movies

[{'영화id:858,                      rating:4.306302135700814,                    영화명: 659    Godfather, The (1972)\nName: title, dtype: object'},
 {'영화id:260,                      rating:4.281663842987387,                    영화명: 224    Star Wars: Episode IV - A New Hope (1977)\nName: title, dtype: object'},
 {'영화id:296,                      rating:4.278152632122759,                    영화명: 257    Pulp Fiction (1994)\nName: title, dtype: object'},
 {'영화id:1196,                      rating:4.226073566460876,                    영화명: 898    Star Wars: Episode V - The Empire Strikes Back...\nName: title, dtype: object'},
 {'영화id:50,                      rating:4.1918097904381995,                    영화명: 46    Usual Suspects, The (1995)\nName: title, dtype: object'},
 {'영화id:1104,                      rating:4.154746591122658,                    영화명: 841    Streetcar Named Desire, A (1951)\nName: title, dtype: object'},
 {'영화id:1210,                      rating:4.122016128534504,                    영화명: 911    Star Wars: Episode VI - Return of the Jedi (1983)\nName: title, dtype: object'},
 {'영화id:1213,                      rating:4.108009609093436,                    영화명: 914    Goodfellas (1990)\nName: title, dtype: object'},
 {'영화id:1242,                      rating:4.083464936588478,                    영화명: 941    Glory (1989)\nName: title, dtype: object'},
 {'영화id:593,                      rating:4.07887165526957,                    영화명: 510    Silence of the Lambs, The (1991)\nName: title, dtype: object'}]